name: Contracts Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Evm contract
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1.2.0

      - name: Lint
        run: forge fmt --check

      - name: Build
        run: forge build --deny-warnings

      - name: Run tests
        run: forge test -vvv


  build_arch:
    name: Arch contract
    permissions:
      id-token: write # needed for aws credentials
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Setup AWS
        uses: ./.github/actions/setup-aws
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
      - name: Start Arch and Bitcoin containers
        run: |
          make start_ci_containers
      - name: Install risc0 toolchain
        run: cargo install cargo-binstall && cargo binstall cargo-risczero@0.21.0 -y && cargo risczero install
      - name: Build
        working-directory: "arch"
        run: make build
      - name: Test
        working-directory: "arch"
        run: make test